<div class="container-fluid">
<div class="row">
  <div class="yellowbanner">
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= link_to image_tag("775.jpg"), "http://www.google.com", :class => 'img-thumbnail'  %>
  </div>
  <div class="col-md-4">
    <%= link_to image_tag("775.jpg"), "http://www.google.com", :class => 'img-thumbnail'  %>
  </div>
  <div class="col-md-4">
    <%= link_to image_tag("775.jpg"), "http://www.google.com", :class => 'img-thumbnail'  %>
  </div>
</div>

</div> <!-- .container-fluid -->