<div class="container-fluid">
<div class="row">
  <div class="yellowbanner">
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= link_to image_tag("775.jpg"), "http://www.google.com", :class => 'img-thumbnail'  %>
  </div>
  <div class="col-md-4">
    <%= link_to image_tag("775.jpg"), "http://www.google.com", :class => 'img-thumbnail'  %>
  </div>
  <div class="col-md-4">
    <%= link_to image_tag("775.jpg"), "http://www.google.com", :class => 'img-thumbnail'  %>
  </div>
</div>

</div> <!-- .container-fluid -->


<div class="song-list">
<div class="list-group">
  <% @popular_songs.each do |song| %>

  <h4 class="list-group-item-heading"><%= link_to song.title, song %></h4>
  <p class="list-group-item-text"></p>
  <% end %>
</div>
</div>