<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">JTTB</a>
            </li>
            <li>
                <a href="#">One</a>
            </li>
        </ul>
    </div>
</div>



<!-- Page Content -->

<!-- <div id="page-content-wrapper">
</div> -->