<!-- Main Songs Page (songs/index) -->


<!-- Page Header -->

<h1 class="page-header">
    <i class="fa fa-star fa-3" style="color: white; font-size: 44px; padding-right: 15px"></i>
    All Songs
    <i class="fa fa-star" style="color: white; font-size: 44px; padding-left: 15px"></i>
</h1>

<!-- List of All Songs -->

<div class="container">
    <div class="row" >
        <div class="all-songs-list">
            <div class="song-list">
                <div class="list-group">
                  <% @songs.each do |song| %>
                      <h4 class="list-group-item-heading"><%= link_to song.title, song %></h4>
                      <p class="list-group-item-text"></p>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Loop for Listing All Songs -->
<!--
<% @songs.each_with_index do |song, i| %>
    <div class="col-md-3 song-item">
        <%=link_to image_tag("http://placehold.it/700x400", :class => "img-responsive") %>
        <h3><%=link_to song.title, song %></h3>
        <p><%=song.notes%></p>
    </div>
<% end %>
-->


        <hr>

<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->

