<html>
  <h1>Music</h1>
  <a href="http://www.youtube.com/feed/SCl6JB5IHI6S9h8MuHAYaibg_1dEZATM-hzSNh1XTEhMtA">Listen to New Music on YouTube</a>
<br>
<br>

<!-- Embed a Youtube Video. Note: Replace /watch?v= with /v/ -->

<object width="400" height="310">
  <param name="movie" value="http://www.youtube.com/v/JeM65Kh--xM"</param>
  <param name="allowFullScreen" value="true"></param>
  <param name="allowScriptAccess" value="always"></param>
  <embed src="http://www.youtube.com/v/JeM65Kh--xM"
  type="application/x-shockwave-flash"
  allowfullscreen="true"
  allowscriptaccess="always"
  width="400" height="310">
  </embed>
</object>

<br>
<br>
<%= link_to 'Jiggle Back Home', controller: 'main' %>
</html>