//This is a manifest file that'll be compiled into application.css, which will include all the files listed below.
//Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
//compiled file, but it's generally better to create a new file per style scope.
//
//= require_self
//= require_tree .
//

@import url(http://fonts.googleapis.com/css?family=Lato:400|Josefin+Sans:400,700);

.brand img {
  height: 70px;
  padding-bottom: 10px;
}

.brand a {
  /*display: inline-block;*/
  width: 100%;
}


.footer {
  z-index: 2000;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background-color: #FFAD33;
  /*border: none;*/
  -webkit-box-shadow: 10px 10px 6px -6px #777;
     -moz-box-shadow: 10px 10px  6px -6px #777;
          box-shadow: 10px 10px 6px -6px #777;
}


body {
  background-color: #fceaa5;
}


/*.nav #bar-link {
  font-size: 40px;
}*/

.site-header {
  position: relative;
}

.navbar-links {
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  margin-top: 25px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: Josefin Sans;
  text-decoration: none;
  a:link {
    text-decoration: none;
    color: #00CCFF;
    padding-right: 60px;
  }
  a:visited {
    text-decoration: none;
    color: #00CCFF;
  }
  a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    -moz-transition: color 300ms;
    -o-transition: color 300ms;
    -webkit-transition: color 300ms;
    transition: color 300ms;
  }
  a:active {
    text-decoration: none;
    color: #00CCFF;
  }
}

/*.navbar .brand {

  a:link {
    text-decoration: none;
    color: #fff;
    font-size: 40px;

  }
  a:visited {
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #00CCFF;
    -moz-transition: color 300ms;
    -o-transition: color 300ms;
    -webkit-transition: color 300ms;
    transition: color 300ms;
  }
  a:active {
    text-decoration: none;
    color: #fff;
  }
}*/

