// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-margin {
  margin-top: 50px;
}


.contactus {
  color: #00CCFF;
}


body {
  margin-left: 250px;
}

html {

}



object {
  margin-left: 5px;
}

.yellowbanner {
  background-image: image-url('yellow.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  width: 1280px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}


/*Popular Song List*/
.song-list {

}

.song-list-heading {
  padding-left: 40px;
  h1 {
    margin-bottom: 20px;
    font-family: Josefin Sans;
    font-weight: 700;
    display: inline-block;

  }
}


.list-group {
  border: 1px solid #ddd;
  border-bottom: transparent;
  width: auto;
}

.list-group-item-heading {
  position: relative;
  display: block;
  padding: 15px 15px;
  padding-top: 15px;
  /*margin-bottom: -1px;*/
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-top: transparent;
  a:link {
    text-decoration: none;
    color: #00CCFF;
    /*padding-right: 60px;*/
    font-family: Josefin Sans;
    font-size: 25px;
  }
  a:visited {
    text-decoration: none;
    color: #00CCFF;
  }
  a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #00B8E6;
    -moz-transition: color 300ms;
    -o-transition: color 300ms;
    -webkit-transition: color 300ms;
    transition: color 300ms;
  }
  a:active {
    text-decoration: none;
    color: #00CCFF;
  }
}


.list-group-item-text {

}
